* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

.navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100px;
    padding: 0px;
    background-color: rgb(	59, 107, 231);
    border-radius: 0px 0px 24px 24px;
    padding-inline: 50px;
}

.navbar-name {
    position: absolute;
    bottom: 0px;
    font-size: 64px;
    color:white;
}

.content-wrapper {
    width: 900px;
    height: 450px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.transfer-button {
    width: 240px;
    height: 40px;
    background-color: rgb(	59, 107, 231);
    color: white;
    border-radius: 20px;
}

.background-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-wrapper {
    display: flex;
    gap: 10px;
}

.back-button {
    align-self: flex-start;
    background-image: url("../assets/back-arrow.png");
    background-size: contain;
    height: 50px;
    width: 50px;
    margin-inline-start: 50px;
    margin-top: -50px;
}