html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none; 
}

li.nav-item {
    float:left;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100px;
    padding: 0px;
    background-color: rgb(	59, 107, 231);
    border-radius: 0px 0px 24px 24px;
    padding-inline: 50px;
}

a {
    color:white;
    font-size: 64px;
}

.navbar > .nav_options_icons > .nav-menu > .nav-item > .nav-link {
    color:white;
    font-size: 24px;
}

.navbar > .nav_options_icons > .nav-menu> .nav-item> .active-nav-link {
    color: white;
    text-decoration-line: underline;
    font-size: 24px;
}

.navbar > .nav_options_icons >.nav-menu > .nav-item > {
    position: fixed;
    left: 30px;
    height: 10px;
    padding: 0px;
    background-color: rgb(	59, 107, 231);
    border-radius: 0px 0px 24px 24px;
    padding-inline: 50px;
}
