html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none; 
}

li.nav-item {
    float:left;
    padding: 20px;
}



.since-date {
    position: fixed;
    font-size: 24px;
    right: 10px;
}
.navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100px;
    padding: 0px;
    background-color: rgb(	59, 107, 231);
    border-radius: 0px 0px 24px 24px;
    padding-inline: 50px;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 64px;
}

.navbar > .nav_options_icons > .nav-menu > .nav-item > .nav-link {
    color:white;
    font-size: 24px;
}

.navbar > .nav_options_icons > .nav-menu> .nav-item> .active {
    color: white;
    text-decoration-line: underline;
    font-size: 24px;
}

.navbar > .nav_options_icons >.nav-menu > .nav-item > {
    position: fixed;
    left: 30px;
    height: 10px;
    padding: 0px;
    background-color: rgb(	59, 107, 231);
    border-radius: 0px 0px 24px 24px;
    padding-inline: 50px;
}



.accounts-wrapper {
    font-size: 24px;
    position: relative;
    left: 30px;
    top: 150px; 
    background-color: rgb(	59, 107, 231);
    border: 3px solid rgb(59, 107, 231);

} 

 .account-wrapper {
        position: relative;
        left: 0px;
        top: 150px; 
    
    
} 

.account-name-wrapper{
    position: relative;
    left: 30px;
    top: 0px; 
    font-size: 24px;
    border: 3px solid hsl(180, 0%, 58%);
}

.account-details-wrapper {
    position: relative;
    left: 800px;
    bottom: 70px; 
    font-size: 24px;

} 


.footer-wrapper{
    position: relative;
    left: 0px;
    top: 500px; 
    font-size: 24px;
    background-color: rgb(149, 150, 153);
    border: 3px solid rgb(149, 150, 153;
}


.ab{

    color:rgb(255, 255, 255);
    font-size: 120px;
}